@page "/"


<PageTitle>League of Feeders</PageTitle>

@using Core.DTOs
@using WebApp.Components
@using WebApp.Services
@inject MatchDataService _matchDataService

@if (_matchData == null)
{
    <p><em>Data is loading...</em></p>
}
else
{
    <div id="div-center">

       <div class="dropdown" style="margin-bottom: 25px;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Pick a feeder!
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                @foreach (var summoner in _summoners)
                {
                    <li><a class="dropdown-item" href="" @onclick="() => LoadSummonerData(summoner.ID)">@summoner.Nickname</a></li>
                }
          </ul>
        </div>

    <h1>Is @_matchData.Nickname bad at LoL?</h1>

    <p>Based on the past <b><span style="font-size:26px;">@_matchData.Statistics.TotalMatchesTracked</span></b> matches...</p>
    <p>@_matchData.Nickname has <span style="font-size:26px;">died</span> a total of <span class="redTxt" style="font-size: 26px;">@_matchData.Statistics.TotalDeaths</span> times...</p>
    <p>...and spent a total of <span class="redTxt" style="font-size:26px;">@_matchData.Statistics.TotalTimeSpentDead.Hours hours and @_matchData.Statistics.TotalTimeSpentDead.Minutes minutes</span>  dead...</p>

        <hr style="width: 35%; margin: auto" />

</div>
        <div class="container mt-5 mb-3">

            <div class="row">
            <h2>Highlight Reel</h2>
            <h5>@_matchData.Nickname's worst matches for the past week</h5>

            @foreach (var highlight in _matchData.Highlights)
            {
                <MatchCard SummonerName = "@_matchData.Nickname" Highlight = "highlight"/>
            }
            </div>
        </div>
    <div class="container mt-5 mb-3">
        <hr />

        <h2>All Matches</h2>
        <h5>Showing the most recent @_currentMatchCount matches</h5>

        <div class="row">

            @foreach (var match in _matchData.MatchHistory) 
            {
                <MatchCard SummonerName = "@_matchData.Nickname" Highlight = "match"/>
            }
    
        <button @onclick="LoadFewerMatches" class="btn btn-primary">Load Fewer</button>
        <button @onclick="LoadMoreMatches" class="btn btn-primary">Load More</button>
    </div>


    </div>
}

@code {
    private IEnumerable<SummonerDTO> _summoners;
    private JackMatchesDTO _matchData;
    private int _currentMatchCount = 9;
    private int _currentSummonerID = 1;

    protected override async Task OnInitializedAsync()
    {
        _summoners = await _matchDataService.GetSummoners();
        _matchData = await _matchDataService.GetMatchHistory(_currentSummonerID);
    }

    private async Task LoadSummonerData(int summonerID)
    {
        _currentSummonerID = summonerID;
        _matchData = await _matchDataService.GetMatchHistory(_currentSummonerID, _currentMatchCount);
    }

    private async Task LoadMoreMatches()
    {
        _currentMatchCount += 9;
        _matchData = await _matchDataService.GetMatchHistory(_currentSummonerID, _currentMatchCount);
    }

    private async Task LoadFewerMatches()
    {
        if (_currentMatchCount == 9)
            return;

        _currentMatchCount -= 9;
        _matchData = await _matchDataService.GetMatchHistory(_currentSummonerID, _currentMatchCount);
    }
}